<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{ %block title% }{ %endblock% }</title>
    <link rel="stylsheet" href='./static/css/normalize.css'>
    <link rel="stylsheet" href='./static/css/skeleton.css'>
    <link rel="stylsheet" href='./static/css/styles.css'>

    <!--style>
    * { font-family:'Courier New', Courier, monospace}
    .header{background-color: gray;color:white}

    .mensajes-error{color: red}

    #fecha {color:green}

    </style-->
</head>
<body>
    <div class = 'header'>
        <div class='container'>
            <h3>Simple Exchanger</h3>
        </div>
    </div>
    </header>
    <div  class="container">
        <p class="menu">
                <a href="./">Inicio</a> |  <a href="/nuevacompra">Compra</a>
        </p>
        {% if error %}
        <div class='mensaje-error'>
               
                    <ul class="flash-messages">
                    {% for error  in errores %}
                        <li>{{error}}</li>
    
                    {%endfor %}
                    </ul>
               
        </div>
        {% endif %}
        
        {% block body %}{%endblock%}

    </div>
    <footer class='container'>
        <p>&copy: -VMN-</p>
    </footer>
</body>
</html>