{% extends 'base.html'  %}
{% block title %} Exchanger {%endblock%}
{% block body%}
    <table class="u-full-width">
        <tr>

            <th>Fecha </td>
            <th>Descripcion</td>
            <th>Moneda Comprada</td>
            <th> Cantidad Comprada</td>
            <th>Moneda pagada</td>
            <th>Cantidad pagada</td>
            <th>Precio unitario</td>
            
        </tr>

        {%for movimiento in movimientos %}
        <tr>
            <td><input type="radio" name="ix" value = '{{loop.index}}''></td>
            <td>movimiento[0]</td>
            <td>movimiento[1]</td>
            <td>movimiento[2]</td>
            <td>movimiento[3]</td>
            <td>movimiento[4]</td>
            <td>movimiento[5]</td>
            <td>movimiento[6]</td>
        </tr>
        {%endfor%}

    </table>
    <br/>
    <form action="/nuevacompra">
        <button type="submit" class="mi botón">Borrar</button>
        <button type="submit" class="mi botón" > Nueva compra</button>
    </form>
{%endblock%}

