{% extends 'base.html'  %}
{% block title %} Exchanger {%endblock%}
{% block body%}
<form action="/procesar registro" method="POST">
    <table class="u-full-width">
        <tr>

            <th>Fecha </td>
            <th>Descripcion</td>
            <th>Moneda Comprada</td>
            <th> Comprada</td>
            <th>Moneda pagada</td>
            <th>Cantidad pagada</td>
            <th>Precio unitario</td>
            
        </tr>

        {%for movimiento in movimientos %}
        <tr>
            <td><input type="radio" name="ix" value = '{{loop.index}}'></td>
            <td>movimiento[0]</td>
            <td>movimiento[1]</td>
            <td>movimiento[2]</td>
            <td>movimiento[3]</td>
            <td>movimiento[4]</td>
            <td>movimiento[5]</td>
            <td>movimiento[6]</td>
        </tr>
        {%endfor%}


    </table>
    <br/>
        <a href="/nuevacompra" class="button button-primary">Nueva compra</a>
        <button name="btnselected" value="Modificar" type="submit" class="mi botón" button-primary> Modificar</button>
        <button name="btnselected" value="borrar" type="submit" class="mi boton" button-primary> Borrar</button>
        
</form>
{%endblock%}

