{% extends 'base.html'  %}
{% block title %} Exchanger {%endblock%}
{% block body%}
    <table border="1">
        <tr>
            <th>Fecha</td>
            <th>Descripcion</td>
            <th>Moneda Comprada</td>
            <th>Cantidad Comprada</td>
            <th>Precio unitario</td>
            <th>Unidad pagada</td>
            <th>Cantidad pagada</td>
            

        </tr>
        <tr>
            <td>11/07/2019</td>
            <td>Mi primera compra</td>
            <td>BTC</td>
            <td>1</td>
            <td>6500</td>
            <td>euros</td>
            <td>6500</td>
        </tr>
    
    </table>



{%endblock%}

